<footer class="row">
  <div class="footer-left">
    <img src="../assets/img/logo.png" alt="footer-logo">
    <p class="footer-website-name">&copy;<strong>Pet Nexus</strong>, LTW 2020</p>
  </div>

  <div class="footer-center">
  </div>

  <div class="footer-right">
    <div class="footer-icons">
      <a href="https://github.com/kiko-g"><i class="fa fa-github"></i> Francisco Gonçalves </a><br>
      <a href="https://github.com/krystalgamer"><i class="fa fa-github"></i> José Silva </a><br>
      <a href="https://github.com/victorsnunes"><i class="fa fa-github"></i> Victor Nunes </a><br>
    </div>
  </div>
</footer>